.ant-steps-item-icon {
  border: 1px solid rgba(37, 155, 246, 0.581) !important;
}
.ant-steps-item-title {
  color: black;
  font-weight: 500;
}
:where(.css-dev-only-do-not-override-byeoj0).ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #0d7ab1;
}
