.proj {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 5vh;
}
.title {
  border: 1px solid rgb(228, 227, 227);
  border-radius: 10px;
  background-color: rgba(224, 224, 224, 0.329);
  width: 100%;
  margin-top: 3vh;
  padding: 3vh;
  padding-bottom: 1vh;
}
.task {
  /* border: 2px solid blue; */
  min-height: 60vh;
  margin-top: 3vh;
  padding-top: 3vh;
  margin-bottom: 10vh;
}

/* .ant-table-cell {
  width: 30%;
} */

/* .ant-upload-list {
  width: max-content;
} */
